<div class="space-y-12">
  <%= render "home/hero" %>

  <% if @running_competitions.any? %>
    <%= render "home/running_tournaments",
         running_competitions: @running_competitions,
         mini_standings: @mini_standings %>
  <% end %>
</div>
