<% photos = local_assigns.fetch(:photos) %>
<% alt = local_assigns.fetch(:alt) %>
<% size = local_assigns.fetch(:size, :thumbnail) %>
<% if photos.attached? %>
  <div class="flex flex-wrap gap-2 mb-3">
    <% photos.each do |photo| %>
      <% if photo.variable? %>
        <%= link_to rails_representation_url(news_photo_variant(photo, :zoom)),
              class: "inline-block cursor-zoom-in",
              data: { controller: "lightbox", action: "click->lightbox#open" } do %>
          <%= image_tag news_photo_variant(photo, size), alt: alt, class: "rounded max-w-full" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
