<% User.datetime_formats.keys.each_with_index do |fmt, i| %>
  <% if i > 0 %><span class="text-neutral-500">|</span><% end %>
  <% if fmt == Current.datetime_format %>
    <span class="text-white font-bold"><%= t("datetime_formats.#{fmt}") %></span>
  <% else %>
    <%= button_to t("datetime_formats.#{fmt}"), datetime_format_path(datetime_format: fmt),
          method: :patch,
          class: "text-gray-400 hover:text-white transition-colors",
          form: { class: "inline" } %>
  <% end %>
<% end %>
